<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        Welcome!<%= current_user %>
        <%= '<label name="submit">Log out!<input type="submit"></label>'.html_safe %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
